/* src/fonts/MinionPro.css */
@font-face {
  font-family: "Minion Pro";
  src: url("Minion Pro Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Minion Pro Bold";
  src: url("Minion Pro Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Minion Pro";
  src: url("Minion Pro Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
